{% extends "layout.html" %}

{% block title %}Modifier un bénévole{% endblock %}

{% block body %}
<h1>Modifier un bénévole <small>- {{ old_data.prenom }} {{ old_data.nom }}</small></h1>

<form action="/benevole/edit/{{ old_data.id }}" method="post" autocomplete="off">
    <div class="form-goup {{ errors.prenom ? 'has-danger' : '' }}">
        <label for="prenom">Prénom: </label>
        <input class="form-control {{ errors.prenom ? 'form-control-danger' : '' }}" type="text" name="prenom" id="prenom" value="{{ old_data.prenom }}"/>
        <div class="form-control-feedback">{{ errors.prenom | first }}</div>
    </div>
    <div class="form-goup {{ errors.nom ? 'has-danger' : '' }}">
        <label for="nom">Nom: </label>
        <input class="form-control {{ errors.nom ? 'form-control-danger' : '' }}" type="text" name="nom" id="nom" value="{{ old_data.nom }}"/>
        <div class="form-control-feedback">{{ errors.nom | first }}</div>
    </div>
    <div class="form-goup {{ errors.formation ? 'has-danger' : '' }}">
        <label for="formation">Formation: </label>
        <select class="form-control custom-select {{ errors.formation ? 'form-control-danger' : '' }}" id="formation" name="formation">
            <option value="0" {{ (old_data.formation) ? '' : 'selected' }}>Choisir</option>
            {% for form in formations %}
            <option value="{{ form.id }}" {{ (old_data.formation.id == form.id) ? 'selected' : '' }} >
            {{ form.nom }} - <b>{{ form.accronyme }}</b>
            </option>
            {% endfor %}
        </select>
        <div class="form-control-feedback">{{ errors.formation | first }}</div>
    </div>
    <div class="form-goup {{ errors.division ? 'has-danger' : '' }}">
        <label for="division">Division: </label>
        <select class="form-control custom-select {{ errors.division ? 'form-control-danger' : '' }}" id="division" name="division">
            <option value="0" {{ (old_data.division) ? '' : 'selected' }}>Choisir</option>
            {% for div in divisions %}
            <option value="{{ div.id }}" {{ (old_data.division.id == div.id) ? 'selected' : '' }} >
            {{ div.nom }} - <b>{{ div.numero }}</b>
            </option>
            {% endfor %}
        </select>
        <div class="form-control-feedback">{{ errors.division | first }}</div>
    </div>
    <div class="form-goup {{ errors.phoneOne ? 'has-danger' : '' }}">
        <label for="phoneOne">Téléphone 1: </label>
        <input class="form-control {{ errors.phoneOne ? 'form-control-danger' : '' }}" type="text" name="phoneOne" id="phoneOne" value="{{ old_data.telephone_1 }}"/>
        <div class="form-control-feedback">{{ errors.phoneOne | first }}</div>
    </div>
    <div class="form-goup {{ errors.phoneTwo ? 'has-danger' : '' }}">
        <label for="phoneTwo">Téléphone 2: </label>
        <input class="form-control {{ errors.phoneTwo ? 'form-control-danger' : '' }}" type="text" name="phoneTwo" id="phoneTwo" value="{{ old_data.telephone_2 }}"/>
        <div class="form-control-feedback">{{ errors.phoneTwo | first }}</div>
    </div>
    <div class="form-goup {{ errors.email ? 'has-danger' : '' }}">
        <label for="email">Adresse Courriel: </label>
        <input class="form-control {{ errors.email ? 'form-control-danger' : '' }}" type="email" name="email" id="email" value="{{ old_data.email }}"/>
        <div class="form-control-feedback">{{ errors.email | first }}</div>
    </div>

    <div class="form-check">
        <label class="form-check-label" for="actif">
            <input class=" form-check-input" type="checkbox" name="actif" id="actif" value="on" {{ auth.hasPermission('reactiver_benevole') ? '' : 'disabled' }} {{ (old_data.actif) ? 'checked' : '' }}>
            Actif
        </label>
    </div>

    <input type="hidden" name="token" value="{{ token | raw }}">

    <a class="btn btn-warning" href="/benevole/index"> Retourner à la liste</a>
    <button type="submit" class="btn btn-success"> Modifier</button>

</form>
{% endblock %}
