{% extends "layout.html" %}

{% block title %}Réactivation du compte{% endblock %}

{% block body %}
<h1>
    Réactivation
</h1>

<form action="/auth/password-recover-change" method="post" autocomplete="off">
    <div class="form-goup {{ errors.password ? 'has-danger' : '' }}">
        <label for="password">Nouveau mot de passe: </label>
        <input class="form-control {{ errors.password ? 'form-control-danger' : '' }}" type="password" name="password" id="password"/>
        <div class="form-control-feedback">{{ errors.password | first }}</div>
    </div>
    <div class="form-goup {{ errors.password_confirm ? 'has-danger' : '' }}">
        <label for="password_confirm">Confirmation du mot de passe: </label>
        <input class="form-control {{ errors.password_confirm ? 'form-control-danger' : '' }}" type="password" name="password_confirm" id="password_confirm"/>
        <div class="form-control-feedback">{{ errors.password_confirm | first }}</div>
    </div>

    <input type="hidden" name="token" value="{{ token | raw }}">
    <input type="hidden" name="email" value="{{ email }}">
    <input type="hidden" name="ident" value="{{ ident }}">
    <input type="hidden" name="user_id" value="{{ user.id }}">

    <button type="submit" class="btn btn-success">Modifier</button>

</form>
{% endblock %}