{% extends "layout.html" %}

{% block title %}Retouver mon mot de passe{% endblock %}

{% block body %}
<h1>
    Retrouver mon mot de passe
</h1>

<form action="/auth/password-recover" method="post" autocomplete="off">
    <div class="form-goup {{ errors.email ? 'has-danger' : '' }}">
        <label for="email">Adresse courriel: </label>
        <input class="form-control {{ errors.email ? 'form-control-danger' : '' }}" type="text" name="email" id="email"/>
        <div class="form-control-feedback">{{ errors.email | first }}</div>
    </div>

    <input type="hidden" name="token" value="{{ token | raw }}">

    <button type="submit" class="btn btn-success">M'envoyer un lien de réactivation.</button>

</form>
{% endblock %}