{% extends "layout.html" %}

{% block title %}Divisions{% endblock %}

{% block body %}
<h1>Ajouter une division</h1>

<form action="/admin/division/create" method="post" autocomplete="off">
    <div class="form-goup {{ errors.nom ? 'has-danger' : '' }}">
        <label for="nom">Nom : </label>
        <input class="form-control {{ errors.nom ? 'form-control-danger' : '' }}" type="text" name="nom" id="nom" value="{{ old_data.nom }}"/>
        <div class="form-control-feedback">{{ errors.nom | first }}</div>
    </div>
    <div class="form-goup {{ errors.numero ? 'has-danger' : '' }}">
        <label for="numero">Numéro : </label>
        <input class="form-control {{ errors.numero ? 'form-control-danger' : '' }}" type="text" name="numero" id="numero" value="{{ old_data.numero }}"/>
        <div class="form-control-feedback">{{ errors.numero | first }}</div>
    </div>

    <input type="hidden" name="token" value="{{ token | raw }}">

    <a class="btn btn-info" href="/admin/division">Retour à la liste</a>
    <button type="submit" class="btn btn-success">Ajouter</button>

</form>
{% endblock %}

{% block javascript %}

{% endblock %}