{% extends "layout.html" %}

{% block title %}Former une équipe{% endblock %}

{% block body %}
<h1>Former une équipe</h1>

<form action="/equipe/edit/{{ old_data.id }}" method="post" autocomplete="off">
    <div class="form-goup {{ errors.numero ? 'has-danger' : '' }}">
        <label for="numero">Numéro: </label>
        <input class="form-control {{ errors.numero ? 'form-control-danger' : '' }}" type="text" name="numero" id="numero" value="{{ old_data.numero }}"/>
        <div class="form-control-feedback">{{ errors.numero | first }}</div>
    </div>
    <div class="form-goup {{ errors.emplacement ? 'has-danger' : '' }}">
        <label for="emplacement">Emplacement: </label>
        <input class="form-control {{ errors.emplacement ? 'form-control-danger' : '' }}" type="text" name="emplacement" id="emplacement" value="{{ old_data.emplacement }}"/>
        <div class="form-control-feedback">{{ errors.emplacement | first }}</div>
    </div>


    {% if(old_data.isEditable()) %}
    <div class="form-group {{ errors.assignations ? 'has-danger' : '' }}">
        <label for="assignations">Assignations : </label>
        <div class="input-group">
            <select name="assignations[]" id="assignations" class="selectpicker form-control" data-live-search="true" show-sub-text="true" title="Sélectionner les bénévoles" multiple>
                {% for ben in lstBenevoles %}
                <option  value="{{ ben.id }}" data-subtext="{{ ben.formation.accronyme }} - {{ ben.division.numero }}" title="{{ ben.prenom }} {{ben.nom}} | {{ ben.formation.accronyme }} - {{ ben.division.numero }}" {{ (ben.isAssigned() ? 'disabled' : '') }}>{{ ben.prenom }} {{ben.nom}}</option>
                {% endfor %}
            </select>
            <span class="input-group-btn">
                <button name="ajouter_benevole" id="ajouter_benevole" class="btn btn-success">Ajouter le/les bénévole(s)</button>
            </span>
        </div>
    </div>


{% endif %}

    <ul id="assignations_benevoles">

    </ul>

    <a href="/equipe" type="submit" class="btn btn-info"> Retour à la liste</a>
    {% if(old_data.isEditable()) %}
    <button type="submit" class="btn btn-warning"> Modifier</button>
    {% endif %}
    <input type="hidden" name="token" value="{{ token | raw }}">
    <input type="hidden" id="equipe_id" name="equipe_id" value="{{ old_data.id }}">
<br><br>
</form>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){

            $("#ajouter_benevole").click(function(){
                var benevoles = $("#assignations").val();

                $.post(
                    '/api/assignation/ajouter/{{ old_data.id }}',
                    {
                     'benevoles': benevoles
                    },
                    function(data){
                        alert(data);
                        //loadBenevole();
                    }
                );

                return false;
            });


        });

        function loadBenevoles() {
            $.get('/api/assignation/benevoles-disponible', function (data) {
                var sel = $("#assignations");
               // <option  value="{{ ben.id }}" data-subtext="{{ ben.formation.accronyme }} - {{ ben.division.numero }}" title="{{ ben.prenom }} {{ben.nom}} | {{ ben.formation.accronyme }} - {{ ben.division.numero }}" {{ (ben.isAssigned() ? 'disabled' : '') }}>{{ ben.prenom }} {{ben.nom}}</option>
                data.each(function(ben){
                    sel.append("<option></option>")
                        .attr( "value", ben['id'])
                        .attr("data-subtext", ben['formation']);
                });
            });
        }
    </script>
{% endblock %}
