<p>Bonjour {{ user.firstname }},</p>

<p>Il semblerais que vous tentez de retrouver votre mot de passe ?</p>

<p>Suivez ce lien pour changer votre mot de passe.</p>

<a href="{{ baseUrl }}/auth/password-recover-change/{{ user.email }}/{{ identifier | url_encode }}">{{ baseUrl }}/auth/password-recover-change/{{ user.email }}/{{ identifier | url_encode }}</a>

<p>Si vous pensez que ceci est une erreur, veuillez contacter l'administrateur de système dans les plus bref délais.</p>

<p>Au plaisir !</p>