{% extends "layout.html" %}

{% block title %}Sites{% endblock %}

{% block body %}
<h1>{{ auth.evenement.nom }} - Sites {% if auth.hasPermission('gerer_site') %}
    <a href="/site/create" class="btn btn-success" >Ajouter</a>
    {% endif %}</h1>

<table id="formTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Equipes</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>#</th>
        <th>Nom</th>
        <th>Equipes</th>
    </tr>
    </tfoot>
    <tbody>
    {% for s in sites %}
    <tr>
        <td><span class="label {{ (s.actif) ? 'label-success' : 'label-danger' }}">{{ s.id }}</span></td>
        <td>{{ s.nom }}</td>
        <td>{% for equipe in s.equipes|sort %}
                {% if (equipe.type_equipe == 0) %}
                    <a href="/equipe/edit/{{equipe.id}}" class="btn btn-block btn-sm btn-success">
                {% elseif (equipe.type_equipe == 1) %}
                    <a class="btn  btn-block btn-sm btn-warning">
                {% else %}
                    <a class="btn  btn-block btn-sm btn-info">
                {% endif %}
                        {{ equipe.numero }} - {{ equipe.emplacement }} -
                        {% if(equipe.closed_at == NULL) %}
                        <span class="badge badge-success">Active</span>
                        {% else %}
                        <span class="badge badge-danger">Dissoute</span>
                        {% endif %}
                    </a><br>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function() {
        $('#formTable').DataTable({
            "aoColumnDefs": [
                { "bSortable": false,
                    "aTargets": [ 2 ]
                }
            ] });
    } );
</script>
{% endblock %}