<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#292b2c">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-superhero.min.css">

    <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/assets/dataTables/dataTables.bootstrap.min.css">

    <link rel="stylesheet" href="/assets/dateTimePicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/assets/dateTimePicker/css/bootstrap-datepicker3.min.css">

    <link rel="stylesheet" href="/assets/bootstrap-select/css/bootstrap-select.min.css">

    <link href="https://fonts.googleapis.com/css?family=Iceland" rel="stylesheet">
    <link rel="stylesheet" href="/assets/site.css">
</head>
<body>
    {% include 'partials/navigation.html' %}
    <br/><br/><br/>
    <div class="container-fluid">
    {% include 'partials/flash.html' %}


    {% block body %}
    {% endblock %}

    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">
                Ambulance Saint-Jean, Service à la collectivité. Programmé par <a href="#">Dominique Septembre</a>
            </span>
        </div>
    </footer>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/assets/jQuery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/jQuery/typeahead.js"></script>
    <script src="/assets/jQuery/notify.js"></script>

    <script src="/assets/dataTables/jquery.dataTables.min.js"></script>
    <script src="/assets/dataTables/dataTables.bootstrap.min.js"></script>

    <script src="/assets/dateTimePicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/dateTimePicker/locales/bootstrap-datepicker.fr.min.js"></script>

    <script src="/assets/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="/assets/bootstrap-select/js/i18n/defaults-fr_FR.min.js"></script>

    <script src="/assets/jQuery_Mask_Plugin/jquery.mask.min.js"></script>

    <script>
        $.fn.datepicker.defaults.format = "dd/mm/yyyy";
        $.fn.datepicker.defaults.language = "fr-CA";

        var lastConsult = $.now();

        setInterval(function() {
            var date = new Date();
            $('#heure_live').html(
                date.getHours() + ":" + addZero(date.getMinutes()) + ":" + addZero(date.getSeconds())
            );

            checkNewCard();
        }, 500);

        function addZero(x) {
            if (x < 10) {
                return x = '0' + x;
            } else {
                return x;
            }
        }

        function checkNewCard() {

            $.getJSON('/api/carte/check-new/'+lastConsult, function(data){
                if(!data.nouveau)
                    return false;

                $.notify('Nouvelle Carte - ' + data.carte_id, 'success');
                lastConsult = $.now();
            });
        }
    </script>

    {% block javascript %}
    {% endblock %}
</body>
</html>