<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/assets/dataTables/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="/assets/dateTimePicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/assets/dateTimePicker/css/bootstrap-datepicker3.min.css">
</head>
<body>
    {% include 'partials/navigation.html' %}
    <br/><br/><br/>
    <div class="container-fluid">
    {% include 'partials/flash.html' %}


    {% block body %}
    {% endblock %}

    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/assets/jQuery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/dataTables/jquery.dataTables.min.js"></script>
    <script src="/assets/dataTables/dataTables.bootstrap4.min.js"></script>

    <script src="/assets/dateTimePicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/dateTimePicker/locales/bootstrap-datepicker.fr.min.js"></script>

    <script>
        $.fn.datepicker.defaults.format = "dd/mm/yyyy";
        $.fn.datepicker.defaults.language = "fr-CA";
    </script>
    {% block javascript %}
    {% endblock %}
</body>
</html>