{% extends "layout.html" %}

{% block title %}Activation{% endblock %}

{% block body %}
<h1>
    Activation
</h1>

<form action="/profile/change-password" method="post" autocomplete="off">
    <div class="form-goup {{ errors.old_password ? 'has-danger' : '' }}">
        <label for="old_password">Ancien mot de passe: </label>
        <input class="form-control {{ errors.old_password ? 'form-control-danger' : '' }}" type="password" name="old_password" id="old_password"/>
        <div class="form-control-feedback">{{ errors.old_password | first }}</div>
    </div>
    <div class="form-goup {{ errors.password ? 'has-danger' : '' }}">
        <label for="password">Nouveau mot de passe: </label>
        <input class="form-control {{ errors.password ? 'form-control-danger' : '' }}" type="password" name="password" id="password"/>
        <div class="form-control-feedback">{{ errors.password | first }}</div>
    </div>
    <div class="form-goup {{ errors.password_confirm ? 'has-danger' : '' }}">
        <label for="password_confirm">Confirmation du mot de passe: </label>
        <input class="form-control {{ errors.password_confirm ? 'form-control-danger' : '' }}" type="password" name="password_confirm" id="password_confirm"/>
        <div class="form-control-feedback">{{ errors.password_confirm | first }}</div>
    </div>

    <input type="hidden" name="token" value="{{ token | raw }}">

    <a class="btn btn-danger" href="/">Annuler</a>
    <button type="submit" class="btn btn-warning">Changer le mot de passe</button>

</form>
{% endblock %}